$main-bg: rgba(16, 0, 37, 0.15);
$button-bg: #7540F0;
$list-bg: #301070;
$green-color: #BBDD00;
$red-color: #FA7000;
$yellow-color: #EECD00;
$white-color: #E0D8FF;
$helper-color: #808080;
$title-color: linear-gradient(90deg, rgba(235,193,255,1) 0%, rgba(224,216,255,1) 100%);
$auth-color: linear-gradient(90deg, rgba(117,64,240,1) 0%, rgba(123,97,255,1) 100%);