$button-bg: #7540F0;
$background-color: #200050;
$footer-color: #100050;
$violet-color: #301070;
$black-color: #000;
$gray-color: #808080;
$lightgray-color: #E0E0E0;
$darkgray-color: #404040;
$green-color: #BBDD00;
$red-color: #FA7000;
$yellow-color: #EECD00;
$white-color: #E0D8FF;
